.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  height: 120px;
  width: 360px;
  background: red;
  margin: 10px;
  border-radius: 10px;
}

